---
import AdrikCharacter from "@/js/characters/AdrikCharacter.js";
import { D20Test } from "@/js/common/D20Test.ts";
import AbilitiesTable from "@/components/AbilitiesTable.astro";
import SkillsTable from "@/components/SkillsTable.astro";
import SavesTable from "@/components/SavesTable.astro";
import D20TestCell from "@/components/common/D20TestCell.tsx";
import HitPointsInput from "@/components/HitPointsInput.tsx";
import HitDiceTable from "@/components/HitDiceTable.tsx";
import SpellSlotsTables from "@/components/SpellSlotsTables.astro";
import InfoTooltip from "@/components/common/InfoTooltip.tsx";
import { getClass } from "@/js/utils/render-5etools/getClass";
import { getSpecies, getSubspecies } from "@/js/utils/render-5etools/getSpecies";
import renderHTML from "@/js/utils/render-5etools/renderHTML";
import "@/styles/style.css";

const character = new AdrikCharacter();
const characterName = "Adrik";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{import.meta.env.DEV ? "[dev] " : ""}{characterName}</title>
    <base target="_blank" />
  </head>
  <body>
    <div class="row six-across">
      <AbilitiesTable character={character} />
    </div>
    <div class="row four-across">
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">Proficiency Bonus</th>
          </tr>
          <tr>
            <td class="modifier" style="text-align: center;">
              <span class="mono">+{character.proficiencyBonus}&nbsp;</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">AC</th>
          </tr>
          <tr>
            <td style="text-align: center;">
              <span class="mono">17</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">HP</th>
          </tr>
          <tr>
            <td style="text-align: center;">
              <HitPointsInput client:load hitPointMaximum={character.getHitPoints()} hitDiceByType={character.getHitDice()} />
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">Initiative</th>
          </tr>
          <tr>
            <td class="modifier" style="text-align: center;">
              <span class="checkCell">
                <D20TestCell client:load roll={character.getInitiative()} />
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row three-and-large">
      <div class="column">
        <SkillsTable
          title={'Skills<br><a href="https://www.dungeonmastersvault.com/pages/dnd/5e/characters/17592319397230">character sheet</a>'}
          character={character}
        />
      </div>
      <div class="column">
        <SavesTable title="Saves" character={character} />
        <SavesTable
          title={'<a href="http://dnd5e.wikidot.com/lineage:dwarf#:~:text=Dwarven%20Resilience">Dwarven Resilience</a><br>ADV against poison<br>also half damage'}
          savingThrows={character.getSavingThrows().filter((s) => s.ability == "Con")}
          advantage={true}
          character={character}
        />
        <HitDiceTable client:load hitDice={character.getHitDice()} conModifier={character.getAbilityModifier("Con")} />
      </div>
      <div class="column">
        <SkillsTable
          title={'<a href="http://dnd5e.wikidot.com/ranger#:~:text=at%2014th%20level.-,Natural%20Explorer,-Also%20at%201st">Favored Terrain</a><br>expertise on Forest'}
          skills={character
            .getSkillAbilityChecks()
            .filter((s) => (s.ability == "Int" || s.ability == "Wis") && s.check.getProficiency().bonus > 0)
            .map((skill) => {
              const modifier = character.getAbilityModifier(skill.ability);
              const proficiency = character.createProficiency(true, 2);
              return {
                ...skill,
                check: new D20Test("Ability Check", skill.ability, modifier, proficiency),
              };
            })}
          character={character}
        />
        <SkillsTable
          title={'<a href="http://dnd5e.wikidot.com/ranger#:~:text=of%2020%20arrows-,Favored%20Enemy,-Beginning%20at%201st">Favored Enemy</a><br>ADV on orc, goblin'}
          skills={character.getSkillAbilityChecks().filter((s) => s.ability == "Int" || s.skill == "Survival")}
          advantage={true}
          character={character}
        />
        <SkillsTable
          title={'<a href="http://dnd5e.wikidot.com/lineage:dwarf#:~:text=Stonecunning">Stonecunning</a><br>expertise on stonework'}
          skills={character
            .getSkillAbilityChecks()
            .filter((s) => s.skill == "History")
            .map((skill) => {
              const modifier = character.getAbilityModifier(skill.ability);
              const proficiency = character.createProficiency(true, 2);
              return {
                ...skill,
                check: new D20Test("Ability Check", skill.ability, modifier, proficiency),
              };
            })}
          character={character}
        />
        <SkillsTable
          title={'<a href="https://www.dndbeyond.com/spells/hunters-mark">Hunter&apos;s Mark</a><br>ADV on marked creature'}
          skills={character.getSkillAbilityChecks().filter((s) => s.skill == "Perception" || s.skill == "Survival")}
          advantage={true}
          character={character}
        />
      </div>
      <div class="column features">
        <SpellSlotsTables character={character} />
        <table>
          <tr>
            <th colspan="2" style="text-align: center;">Features</th>
          </tr>
          <tr>
            <th>Feature</th>
            <th class="modifier">Effect</th>
          </tr>
          <tr>
            <td>Species</td>
            <td class="modifier"
              ><InfoTooltip client:load reference={renderHTML(getSpecies("Dwarf", "PHB"))}>Dwarf</InfoTooltip> (<InfoTooltip
                client:load
                reference={renderHTML(getSubspecies("Hill", "Dwarf", "PHB"))}>Hill</InfoTooltip
              >)</td
            >
          </tr>
          <tr>
            <td>Class</td>
            <td class="modifier">
              <InfoTooltip client:load reference={renderHTML(getClass("Ranger", "PHB"))}>Ranger</InfoTooltip> 5 /
              <InfoTooltip client:load reference={renderHTML(getClass("Cleric", "PHB"))}>Cleric</InfoTooltip> 7
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
