---
import { character } from "../js/characters/AdrikCharacter.js";
import CheckCell from "../components/CheckCell.tsx";
import SkillsTable from "../components/SkillsTable.astro";
import SavesTable from "../components/SavesTable.astro";
import "../../public/styles/style.css";
import { DiceString } from "../js/DiceString";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adrik Abilities</title>
    <base target="_blank" />
  </head>
  <body>
    <div class="row">
      <div>
        <table style="border-spacing: 10px; border: 0px; border-collapse: separate;">
          <tr>
            {
              character.getAbilities().map((ability) => (
                <th style="padding-top: 10px; padding-bottom: 10px; width: 16.6%;" class="modifier">
                  <>
                    <span class="mono">{ability}</span>
                    <br />
                  </>
                  <>
                    <span class="mono">{character.abilityScores[ability]}</span>
                    <br />
                  </>
                  <span class="checkCell">
                    <CheckCell client:only="react" bonus={character.getAbilityModifier(ability)} />
                  </span>
                </th>
              ))
            }
          </tr>
          <tr>
            <th colspan="3" class="modifier">
              <span class="mono">Proficiency Bonus</span><br />
              <span class="mono">+{character.proficiencyBonus}&nbsp;</span>
            </th>
            <th colspan="3" class="modifier">
              <span class="mono">Initiative</span><br />
              <span class="checkCell">
                <CheckCell client:only="react" bonus={character.getAbilityModifier("Dex")} />
              </span>
            </th>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <SkillsTable
          title={'Skills<br><a href="https://www.dungeonmastersvault.com/pages/dnd/5e/characters/17592319397230">character sheet</a>'}
          character={character}
        />
      </div>
      <div class="column">
        <SkillsTable title="Int skills" skills={character.getSkills().filter((s) => s.ability == "Int")} character={character} />
        <SkillsTable title="Wis skills" skills={character.getSkills().filter((s) => s.ability == "Wis")} character={character} />
      </div>
      <div class="column">
        <SkillsTable
          title={'<a href="http://dnd5e.wikidot.com/ranger#:~:text=at%2014th%20level.-,Natural%20Explorer,-Also%20at%201st">Favored Terrain</a><br>expertise on Forest'}
          skills={character
            .getSkills()
            .filter((s) => (s.ability == "Int" || s.ability == "Wis") && s.proficiency.bonus > 0)
            .map((skill) => {
              const modifier = character.getAbilityModifier(skill.ability);
              const proficiency = character.createProficiency(true, 2);
              return {
                ...skill,
                proficiency,
                dice: DiceString.init("d20", modifier + proficiency.bonus),
              };
            })}
          character={character}
        />
        <SkillsTable
          title={'<a href="http://dnd5e.wikidot.com/ranger#:~:text=of%2020%20arrows-,Favored%20Enemy,-Beginning%20at%201st">Favored Enemy</a><br>ADV on orc, goblin'}
          skills={character.getSkills().filter((s) => s.ability == "Int" || s.skill == "Survival")}
          advantage={true}
          character={character}
        />
        <SkillsTable
          title={'<a href="http://dnd5e.wikidot.com/lineage:dwarf#:~:text=Stonecunning">Stonecunning</a><br>expertise on stonework'}
          skills={character
            .getSkills()
            .filter((s) => s.skill == "History")
            .map((skill) => {
              const modifier = character.getAbilityModifier(skill.ability);
              const proficiency = character.createProficiency(true, 2);
              return {
                ...skill,
                proficiency,
                dice: DiceString.init("d20", modifier + proficiency.bonus),
              };
            })}
          character={character}
        />
        <SkillsTable
          title={'<a href="https://www.dndbeyond.com/spells/hunters-mark">Hunter&apos;s Mark</a><br>ADV on marked creature'}
          skills={character.getSkills().filter((s) => s.skill == "Perception" || s.skill == "Survival")}
          advantage={true}
          character={character}
        />
      </div>
      <div class="column">
        <SavesTable title="Saves" character={character} />
        <SavesTable
          title={'<a href="http://dnd5e.wikidot.com/lineage:dwarf#:~:text=Dwarven%20Resilience">Dwarven Resilience</a><br>ADV against poison<br>also half damage'}
          savingThrows={character.getSavingThrows().filter((s) => s.ability == "Con")}
          advantage={true}
          character={character}
        />
      </div>
    </div>
  </body>
</html>
