---
import "../../public/styles/style.css";
import { character } from "../js/characters/AzamatCharacter.ts";
import AbilitiesTable from "../components/AbilitiesTable.astro";
import SkillsTable from "../components/SkillsTable.astro";
import SavesTable from "../components/SavesTable.astro";
import WeaponAttackTable from "../components/WeaponAttackTable.astro";
import CheckCell from "../components/CheckCell.tsx";
import DamageCell from "../components/DamageCell.tsx";
import { DiceString } from "../js/DiceString.ts";
import { D20Test } from "../js/D20Test.ts";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skills Table</title>
    <base target="_blank" />
  </head>
  <body>
    <div class="row">
      <div>
        <AbilitiesTable character={character} />
      </div>
    </div>
    <div class="row">
      <div class="column"></div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">Proficiency Bonus</th>
          </tr>
          <tr>
            <td class="modifier" style="text-align: center;">
              <span class="mono">+{character.proficiencyBonus}&nbsp;</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">Initiative</th>
          </tr>
          <tr>
            <td class="modifier" style="text-align: center;">
              <span class="checkCell">
                <CheckCell client:only="react" check={new D20Test(character.getAbilityModifier("Dex"))} advantage={true} />
              </span>
            </td>
          </tr>
        </table>
      </div>
      <div class="column"></div>
    </div>

    <div class="row">
      <div class="column">
        <SkillsTable
          title={'Skills<br><a href="https://www.dungeonmastersvault.com/pages/dnd/5e/characters/17592319397230">character sheet</a>'}
          character={character}
        />
      </div>
      <div class="column">
        <SkillsTable title="Proficient skills" skills={character.getSkills().filter((s) => s.proficiency.bonus > 0)} character={character} />
        <SkillsTable title="Cha skills" skills={character.getSkills().filter((s) => s.ability == "Cha")} character={character} />
        <WeaponAttackTable character={character} />
        <table>
          <tr>
            <th colspan="2" style="text-align: center;">Other Spells</th>
          </tr>
          <tr>
            <th>Spell</th>
            <th class="modifier">Damage</th>
          </tr>
          <tr>
            <td>Moonbeam</td>
            <td class="checkCell mono">
              <DamageCell client:only="react" damageRoll={new DiceString("4d10")} critRoll={new DiceString("8d10")} />
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th colspan="2" style="text-align: center;">Features</th>
          </tr>
          <tr>
            <th>Feature</th>
            <th class="modifier">Effect</th>
          </tr>
          <tr>
            <td>Lay on Hands</td>
            <td class="modifier">
              <span class="mono">{5 * character.characterLevel}</span>/long rest
            </td>
          </tr>
          <tr>
            <td>Channel Divinity</td>
            <td class="modifier">
              <span class="mono">2</span>/short/long rest
            </td>
          </tr>
          <tr>
            <td>HDP (CD)</td>
            <td class="modifier">
              Max slot level: <span class="mono">{Math.ceil(0.5 * character.proficiencyBonus)}</span>
            </td>
          </tr>
          <tr>
            <td>Watcher's Will (CD)</td>
            <td class="modifier">
              <span class="mono">{character.getAbilityModifier("Cha")}</span> + self
            </td>
          </tr>
          <tr>
            <td>Aura of Protection (10ft)</td>
            <td class="modifier">
              <span class="mono">+{character.getAbilityModifier("Cha")}&nbsp;</span>
            </td>
          </tr>
          <tr>
            <td>Aura of the Sentinel (10ft)</td>
            <td class="modifier">Advantage: Initiative</td>
          </tr>
          <tr>
            <td>Aura of Courage (10ft)</td>
            <td class="modifier">Immunity: frightened</td>
          </tr>
        </table>
      </div>
      <div class="column">
        <SavesTable title="Saves (with added Cha)" character={character} />
        <SavesTable
          title={'<a href="https://2014.5e.tools/races.html#warforged_erlw">Constructed Resilience</a><br>ADV against poison<br>also half damage'}
          savingThrows={character.getSavingThrows().filter((s) => s.ability == "Con")}
          advantage={true}
          character={character}
        />
      </div>
    </div>
  </body>
</html>
