---
// Get all character pages
const pageModules = import.meta.glob("./characters/*.astro", { eager: true });
const characterPages = Object.keys(pageModules)
  .map((path) => {
    const name = path.replace("./characters/", "").replace(".astro", "");
    return { name, url: new URL(`characters/${name}`, Astro.url).pathname };
  })
  .sort((a, b) => a.name.localeCompare(b.name));

// Get all class pages
const classModules = import.meta.glob("./classes/*.md", { eager: true });
const classPages = Object.keys(classModules)
  .map((path) => {
    const name = path.replace("./classes/", "").replace(".md", "");
    return { name, url: new URL(`classes/${name}`, Astro.url).pathname };
  })
  .sort((a, b) => a.name.localeCompare(b.name));

const pageTitle = "D&D Character Sheets";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>{import.meta.env.DEV ? "[dev] " : ""}{pageTitle}</title>
  </head>
  <body>
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
      <div style="width: 300px;">
        <table>
          <tr>
            <th>Characters</th>
          </tr>
          {
            characterPages.map(({ name, url }) => (
              <tr>
                <td>
                  <a href={url}>{name}</a>
                </td>
              </tr>
            ))
          }
        </table>
        <table>
          <tr>
            <th>Critical Role</th>
          </tr>
          <tr>
            <td>
              <a href={new URL("critical-role", Astro.url).pathname}>Critical Role Characters</a>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <th>Classes</th>
          </tr>
          {
            classPages.map(({ name, url }) => (
              <tr>
                <td>
                  <a href={url}>{name}</a>
                </td>
              </tr>
            ))
          }
        </table>
      </div>
    </div>
  </body>
</html>
