---
import "../../public/styles/style.css";
import AbilitiesTable from "@/components/AbilitiesTable.astro";
import SkillsTable from "@/components/SkillsTable.astro";
import SavesTable from "@/components/SavesTable.astro";
import WeaponAttackTable from "@/components/WeaponAttackTable.astro";
import D20TestCell from "@/components/common/D20TestCell.tsx";
import HitPointsInput from "@/components/HitPointsInput.tsx";
import HitDiceTable from "@/components/HitDiceTable.tsx";
import RollLink from "@/components/common/RollLink.tsx";
import HeroicInspirationCheckboxes from "@/components/species/human/HeroicInspirationCheckboxes.tsx";
import InfoTooltip from "@/components/common/InfoTooltip.tsx";

import { DiceString } from "@/js/common/DiceString";
import JacobCharacter from "@/js/characters/JacobCharacter";
import { getClassFeature } from "@/js/utils/render-5etools/getClassFeature";
import { getFeat } from "@/js/utils/render-5etools/getFeat";
import { getSpell } from "@/js/utils/render-5etools/getSpell";
import { getSpecies } from "@/js/utils/render-5etools/getSpecies";
import renderHTML from "@/js/utils/render-5etools/renderHTML";

const character = new JacobCharacter();
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sir Jacob Lancaster{import.meta.env.DEV ? " [dev]" : ""}</title>
    <base target="_blank" />
  </head>
  <body>
    <div class="row six-across">
      <AbilitiesTable character={character} />
    </div>
    <div class="row four-across">
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">Proficiency Bonus</th>
          </tr>
          <tr>
            <td class="modifier" style="text-align: center;">
              <span class="mono">+{character.proficiencyBonus}&nbsp;</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">AC</th>
          </tr>
          <tr>
            <td style="text-align: center;">
              <span class="mono">{character.getArmorClass()}</span>
              <span>(Mage Armor)</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">HP</th>
          </tr>
          <tr>
            <td style="text-align: center;">
              <HitPointsInput client:load hitPointMaximum={character.getHitPoints()} hitDiceByType={character.getHitDice()} />
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">Initiative</th>
          </tr>
          <tr>
            <td class="modifier" style="text-align: center;">
              <span class="checkCell">
                <D20TestCell client:load roll={character.getInitiative()} />
              </span>
              <span>(Alert, can swap)</span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row three-and-large">
      <div class="column">
        <SkillsTable title="Skills" character={character} />
      </div>
      <div class="column">
        <SavesTable title="Saves" character={character} />
        <HitDiceTable client:load hitDice={character.getHitDice()} conModifier={character.getAbilityModifier("Con")} />
      </div>
      <div class="column">
        <WeaponAttackTable character={character} />
        <table>
          <tbody>
            <tr>
              <th colspan="2" style="text-align: center;">Spells</th>
            </tr>
            <tr>
              <td>Spell Attack Modifier</td>
              <td class="checkCell mono">
                <D20TestCell client:load roll={character.getSpellAttack()} />
              </td>
            </tr>
            <tr>
              <td>Spell Save DC</td>
              <td class="checkCell mono">
                <span class="mono">{character.getSpellSaveDC()}</span>
              </td>
            </tr>
            <tr>
              <th>Cantrips (at will)</th>
              <th class="modifier">Effect</th>
            </tr>
            <tr>
              <td><InfoTooltip client:load reference={renderHTML(getSpell("True Strike"))}>True Strike</InfoTooltip></td>
              <td class="modifier">attack w/CHA</td>
            </tr>
            <tr>
              <td><InfoTooltip client:load reference={renderHTML(getSpell("Toll the Dead"))}>Toll the Dead</InfoTooltip></td>
              <td class="checkCell mono">
                <RollLink client:load dice={character.getCantripDamage(new DiceString("d8"), new DiceString("d8"))} />
                <RollLink client:load dice={character.getCantripDamage(new DiceString("d12"), new DiceString("d12"))} />
              </td>
            </tr>
            <tr>
              <th>1st Level (1/day)</th>
              <th class="modifier">Effect</th>
            </tr>
            <tr>
              <td><InfoTooltip client:load reference={renderHTML(getSpell("Mage Armor"))}>Mage Armor</InfoTooltip></td>
              <td class="modifier">AC 13 + DEX (8h)</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column features">
        <table>
          <tr>
            <th colspan="2" style="text-align: center;">Features</th>
          </tr>
          <tr>
            <th>Feature</th>
            <th class="modifier">Effect</th>
          </tr>
          <tr>
            <td><InfoTooltip client:load reference={renderHTML(getSpecies("Human"))}>Human</InfoTooltip></td>
            <td></td>
          </tr>
          <tr>
            <td>[Human] Resourceful (free Inspiration)</td>
            <td class="modifier">
              <HeroicInspirationCheckboxes client:load />
            </td>
          </tr>
          <tr>
            <td>[Feat] <InfoTooltip client:load reference={renderHTML(getFeat("Alert"))}>Alert</InfoTooltip> (from background)</td>
            <td class="modifier">+PB to Initiative, can swap</td>
          </tr>
          <tr>
            <td>[Feat] <InfoTooltip client:load reference={renderHTML(getFeat("Magic Initiate"))}>Magic Initiate</InfoTooltip> (from Human)</td>
            <td class="modifier">2 cantrips, 1 1st-level spell</td>
          </tr>
          <tr>
            <td>[Rogue] <InfoTooltip client:load reference={renderHTML(getClassFeature("Sneak Attack", "Rogue"))}>Sneak Attack</InfoTooltip></td>
            <td class="modifier">+{character.getSneakAttackDice().toString()} damage (1/turn)</td>
          </tr>
        </table>
        <table>
          <tr>
            <th colspan="2" style="text-align: center;">Languages & Tools</th>
          </tr>
          <tr>
            <td colspan="2">
              <strong>Languages:</strong> Common, Deep Speech, Thieves' Cant
              <br />
              <strong>Tools:</strong> Thieves' Tools, Alchemist's Supplies
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
