---
import SaveRow from "./SaveRow.astro";

const { title, advantage, character, savingThrows } = Astro.props;
const savingThrowsFinal = savingThrows ?? character.getSavingThrows();
---

<table>
  <tr>
    <th colspan="2" style="text-align: center;" set:html={title} />
  </tr>
  <tr>
    <th>Save</th>
    <th class="modifier">Modifier</th>
  </tr>
  {
    savingThrowsFinal.map(({ ability, proficiency, check }) => {
      return <SaveRow ability={ability} proficiency={proficiency} check={check} advantage={advantage} />;
    })
  }
</table>
