---
import type { SavingThrow } from "../js/Character";
import SaveRow from "./SaveRow.astro";

const { title, saves, advantage, scores, proficiencyMultiplier, extraBonus = 0 } = Astro.props;
---

<table>
  <tr>
    <th colspan="2" style="text-align: center;" set:html={title} />
  </tr>
  <tr>
    <th>Save</th>
    <th class="modifier">Modifier</th>
  </tr>
  {
    saves.map((save: SavingThrow) => {
      const proficiency = scores.createProficiency(save.proficient, proficiencyMultiplier);
      const bonus = scores.abilityModifier(save.save) + proficiency.bonus + extraBonus;
      return <SaveRow save={save} proficiency={proficiency} bonus={bonus} advantage={advantage} />;
    })
  }
</table>
