---
import CheckCell from "./CheckCell.tsx";
import type { Ability, SkillAbilityCheck } from "../js/CharacterTypes";
import type { D20Test } from "../js/D20Test";

interface Props {
  skill: SkillAbilityCheck;
  advantage?: boolean;
}

const { skill, advantage } = Astro.props;
const check = skill.check;
---

<tr>
  <td><span class="mono">[{check.getProficiency().symbol}]</span> {skill.skill} ({check.getAbility()})</td>
  <td class="checkCell">
    <CheckCell client:only="react" check={check} advantage={advantage} />
  </td>
</tr>
