---
import type { Skill } from "../js/Character";
import SkillRow from "./SkillRow.astro";

const { title, skills, advantage, scores, proficiencyMultiplier } = Astro.props;
---

<table>
  <tr>
    <th colspan="2" style="text-align: center;" set:html={title} />
  </tr>
  <tr>
    <th>Skill</th>
    <th class="modifier">Modifier</th>
  </tr>
  {
    skills.map((skill: Skill) => {
      const proficiency = scores.createProficiency(skill.proficient, proficiencyMultiplier);
      const bonus = scores.abilityModifier(skill.modifier) + proficiency.bonus;
      return <SkillRow skill={skill} proficiency={proficiency} bonus={bonus} advantage={advantage} />;
    })
  }
</table>
