---
import SkillRow from "./SkillRow.astro";
import { Character } from "../js/Character";
import type { SkillAbilityCheck } from "../js/CharacterTypes";

interface Props {
  title: string;
  character: Character;
  skills: SkillAbilityCheck[];
  advantage: boolean;
}

const { title, skills, advantage, character } = Astro.props;
const finalSkills = skills ?? character.getSkillAbilityChecks();
---

<table>
  <tr>
    <th colspan="2" style="text-align: center;" set:html={title} />
  </tr>
  <tr>
    <th>Skill</th>
    <th class="modifier">Modifier</th>
  </tr>
  {
    finalSkills.map(({ skill, ability, proficiency, check }) => {
      return <SkillRow skill={skill} ability={ability} proficiency={proficiency} check={check} advantage={advantage} />;
    })
  }
</table>
