---
import AbilitiesTable from "@/components/AbilitiesTable.astro";
import SkillsTable from "@/components/SkillsTable.astro";
import SavesTable from "@/components/SavesTable.astro";
import WeaponAttackTable from "@/components/WeaponAttackTable.astro";
import D20TestCell from "@/components/common/D20TestCell.tsx";
import HitPointsInput from "@/components/HitPointsInput.tsx";
import HitDiceTable from "@/components/HitDiceTable.tsx";
import SpellSlotsTables from "@/components/SpellSlotsTables.astro";
import InfoTooltip from "@/components/common/InfoTooltip.tsx";

import { Character } from "@/js/character/Character";
import type { Weapon } from "@/js/character/CharacterTypes";
import { D20Test } from "@/js/common/D20Test";
import { DiceString } from "@/js/common/DiceString";
import { getClass } from "@/js/utils/render-5etools/getClass";
import renderHTML from "@/js/utils/render-5etools/renderHTML";

class ThaishaCharacter extends Character {
  constructor() {
    super({
      abilityScores: {
        Str: 13,
        Dex: 13,
        Con: 16,
        Int: 13,
        Wis: 20,
        Cha: 16,
      },
      classLevels: [{ className: "Druid", level: 3 }],
      skillProficiencies: [{ skill: "Nature" }, { skill: "Perception" }],
      saveProficiencies: [
        { save: "Int" }, // Druid
        { save: "Wis" }, // Druid
      ],
      hitPointRolls: [
        { level: 1, die: new DiceString("d8"), roll: 8 },
        { level: 2, die: new DiceString("d8"), roll: 5 },
        { level: 3, die: new DiceString("d8"), roll: 6 },
      ],
    });
  }

  getWeapons(): Weapon[] {
    return [{ weapon: "Lloy Staff", ability: "Wis", damage: new DiceString("d6") }];
  }

  // Spell Attack Modifier: Wisdom modifier + Proficiency bonus
  getSpellAttack(): D20Test {
    return new D20Test("Attack Roll", "Wis", this.getAbilityModifier("Wis"), this.createProficiency(true));
  }

  // Spell Save DC: 8 + Proficiency bonus + Wisdom modifier
  getSpellSaveDC(): number {
    return 8 + this.getSpellAttack().getBonus();
  }
}

const character = new ThaishaCharacter();
const characterName = "Thaisha Lloy";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>{import.meta.env.DEV ? "[dev] " : ""}{characterName}</title>
    <base target="_blank" />
  </head>
  <body>
    <div class="row six-across">
      <AbilitiesTable character={character} />
    </div>
    <div class="row four-across">
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">Proficiency Bonus</th>
          </tr>
          <tr>
            <td class="modifier" style="text-align: center;">
              <span class="mono">+{character.proficiencyBonus}&nbsp;</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">AC</th>
          </tr>
          <tr>
            <td style="text-align: center;">
              <span class="mono">14</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">HP</th>
          </tr>
          <tr>
            <td style="text-align: center;">
              <HitPointsInput client:load hitPointMaximum={character.getHitPoints()} hitDiceByType={character.getHitDice()} />
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">Initiative</th>
          </tr>
          <tr>
            <td class="modifier" style="text-align: center;">
              <span class="checkCell">
                <D20TestCell client:load roll={character.getInitiative()} />
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row three-and-large">
      <div class="column">
        <SkillsTable title="Skills" character={character} />
      </div>
      <div class="column">
        <SavesTable title="Saves" character={character} />
        <HitDiceTable client:load hitDice={character.getHitDice()} conModifier={character.getAbilityModifier("Con")} />
      </div>
      <div class="column">
        <WeaponAttackTable character={character} />
        <table>
          <tbody>
            <tr>
              <th colspan="2" style="text-align: center;">Spells</th>
            </tr>
            <tr>
              <td>Spell Attack Modifier</td>
              <td class="checkCell mono">
                <D20TestCell client:load roll={character.getSpellAttack()} />
              </td>
            </tr>
            <tr>
              <td>Spell Save DC</td>
              <td class="checkCell mono">
                <span class="mono">{character.getSpellSaveDC()}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column features">
        <SpellSlotsTables character={character} />
        <table>
          <tr>
            <th colspan="2" style="text-align: center;">Features</th>
          </tr>
          <tr>
            <th>Feature</th>
            <th class="modifier">Effect</th>
          </tr>
          <tr>
            <td>Species</td>
            <td class="modifier">Orc</td>
          </tr>
          <tr>
            <td>Class</td>
            <td class="modifier"><InfoTooltip client:load reference={renderHTML(getClass("Druid"))}>Druid</InfoTooltip> 3 (Circle of the Land)</td>
          </tr>
          <tr>
            <td>[Orc] Adrenaline Rush</td>
            <td class="modifier">Dash as BA, temp HP</td>
          </tr>
          <tr>
            <td>[Orc] Darkvision</td>
            <td class="modifier">120 ft.</td>
          </tr>
          <tr>
            <td>[Orc] Relentless Endurance</td>
            <td class="modifier">drop to 1 HP instead of 0</td>
          </tr>
          <tr>
            <td>[Druid] Druidic</td>
            <td class="modifier">secret language</td>
          </tr>
          <tr>
            <td>[Druid] Primal Order</td>
            <td class="modifier">bonus cantrip</td>
          </tr>
          <tr>
            <td>[Druid] Wild Shape</td>
            <td class="modifier">transform into beasts</td>
          </tr>
          <tr>
            <td>[Druid] Wild Companion</td>
            <td class="modifier">summon familiar</td>
          </tr>
          <tr>
            <td>[Circle of Land] Land's Aid</td>
            <td class="modifier">bonus healing</td>
          </tr>
        </table>
        <table>
          <tr>
            <th colspan="2" style="text-align: center;">Connections</th>
          </tr>
          <tr>
            <td colspan="2"> Old Path (member), Lloy family, Fang family </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
