---
import AbilitiesTable from "@/components/AbilitiesTable.astro";
import SkillsTable from "@/components/SkillsTable.astro";
import SavesTable from "@/components/SavesTable.astro";
import WeaponAttackTable from "@/components/WeaponAttackTable.astro";
import D20TestCell from "@/components/common/D20TestCell.tsx";
import HitPointsInput from "@/components/HitPointsInput.tsx";
import HitDiceTable from "@/components/HitDiceTable.tsx";
import InfoTooltip from "@/components/common/InfoTooltip.tsx";

import { Character } from "@/js/character/Character";
import type { Weapon } from "@/js/character/CharacterTypes";
import { DiceString } from "@/js/common/DiceString";
import { getClass } from "@/js/utils/render-5etools/getClass";
import renderHTML from "@/js/utils/render-5etools/renderHTML";

class ThimbleCharacter extends Character {
  constructor() {
    super({
      abilityScores: {
        Str: 3,
        Dex: 20,
        Con: 18,
        Int: 14,
        Wis: 17,
        Cha: 16,
      },
      classLevels: [{ className: "Rogue", level: 3 }],
      skillProficiencies: [{ skill: "Acrobatics" }, { skill: "Sleight of Hand" }, { skill: "Stealth" }, { skill: "Perception" }],
      saveProficiencies: [
        { save: "Dex" }, // Rogue
        { save: "Int" }, // Rogue
      ],
      hitPointRolls: [
        { level: 1, die: new DiceString("d8"), roll: 8 },
        { level: 2, die: new DiceString("d8"), roll: 1 },
        { level: 3, die: new DiceString("d8"), roll: 3 },
      ],
    });
  }

  getWeapons(): Weapon[] {
    return [{ weapon: "Toy Sword", ability: "Dex", damage: new DiceString("d4") }];
  }

  // Sneak Attack damage at level 3
  getSneakAttackDamage(): DiceString {
    return new DiceString("2d6");
  }
}

const character = new ThimbleCharacter();
const characterName = "Thimble";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>{import.meta.env.DEV ? "[dev] " : ""}{characterName}</title>
    <base target="_blank" />
  </head>
  <body>
    <div class="row six-across">
      <AbilitiesTable character={character} />
    </div>
    <div class="row four-across">
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">Proficiency Bonus</th>
          </tr>
          <tr>
            <td class="modifier" style="text-align: center;">
              <span class="mono">+{character.proficiencyBonus}&nbsp;</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">AC</th>
          </tr>
          <tr>
            <td style="text-align: center;">
              <span class="mono">17</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">HP</th>
          </tr>
          <tr>
            <td style="text-align: center;">
              <HitPointsInput client:load hitPointMaximum={character.getHitPoints()} hitDiceByType={character.getHitDice()} />
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">Initiative</th>
          </tr>
          <tr>
            <td class="modifier" style="text-align: center;">
              <span class="checkCell">
                <D20TestCell client:load roll={character.getInitiative()} />
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row three-and-large">
      <div class="column">
        <SkillsTable title="Skills" character={character} />
      </div>
      <div class="column">
        <SavesTable title="Saves" character={character} />
        <HitDiceTable client:load hitDice={character.getHitDice()} conModifier={character.getAbilityModifier("Con")} />
      </div>
      <div class="column">
        <WeaponAttackTable character={character} />
        <table>
          <tbody>
            <tr>
              <th colspan="2" style="text-align: center;">Combat</th>
            </tr>
            <tr>
              <td>Sneak Attack</td>
              <td class="modifier mono">{character.getSneakAttackDamage().toString()}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column features">
        <table>
          <tr>
            <th colspan="2" style="text-align: center;">Features</th>
          </tr>
          <tr>
            <th>Feature</th>
            <th class="modifier">Effect</th>
          </tr>
          <tr>
            <td>Species</td>
            <td class="modifier">Fairy (Pixie)</td>
          </tr>
          <tr>
            <td>Class</td>
            <td class="modifier"><InfoTooltip client:load reference={renderHTML(getClass("Rogue"))}>Rogue</InfoTooltip> 3 (Swashbuckler)</td>
          </tr>
          <tr>
            <td>[Fairy] Fairy Magic</td>
            <td class="modifier">Druidcraft cantrip</td>
          </tr>
          <tr>
            <td>[Fairy] Flight</td>
            <td class="modifier">fly speed = walk speed</td>
          </tr>
          <tr>
            <td>[Rogue] Expertise</td>
            <td class="modifier">2 skills doubled</td>
          </tr>
          <tr>
            <td>[Rogue] Sneak Attack</td>
            <td class="modifier">2d6 extra damage</td>
          </tr>
          <tr>
            <td>[Rogue] Thieves' Cant</td>
            <td class="modifier">secret language</td>
          </tr>
          <tr>
            <td>[Swashbuckler] Fancy Footwork</td>
            <td class="modifier">no OA after melee attack</td>
          </tr>
          <tr>
            <td>[Swashbuckler] Rakish Audacity</td>
            <td class="modifier">+CHA to initiative</td>
          </tr>
        </table>
        <table>
          <tr>
            <th colspan="2" style="text-align: center;">Languages</th>
          </tr>
          <tr>
            <td colspan="2"> Common, Sylvan, Thieves' Cant </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
