---
import AbilitiesTable from "@/components/AbilitiesTable.astro";
import SkillsTable from "@/components/SkillsTable.astro";
import SavesTable from "@/components/SavesTable.astro";
import WeaponAttackTable from "@/components/WeaponAttackTable.astro";
import D20TestCell from "@/components/common/D20TestCell.tsx";
import HitPointsInput from "@/components/HitPointsInput.tsx";
import HitDiceTable from "@/components/HitDiceTable.tsx";
import SpellSlotsTables from "@/components/SpellSlotsTables.astro";
import InfoTooltip from "@/components/common/InfoTooltip.tsx";

import { Character } from "@/js/character/Character";
import type { Weapon } from "@/js/character/CharacterTypes";
import { D20Test } from "@/js/common/D20Test";
import { DiceString } from "@/js/common/DiceString";
import { getClass } from "@/js/utils/render-5etools/getClass";
import renderHTML from "@/js/utils/render-5etools/renderHTML";

class WicanderCharacter extends Character {
  constructor() {
    super({
      abilityScores: {
        Str: 10,
        Dex: 15,
        Con: 15,
        Int: 12,
        Wis: 10,
        Cha: 18,
      },
      classLevels: [{ className: "Sorcerer", level: 3 }],
      skillProficiencies: [{ skill: "Persuasion" }, { skill: "Religion" }],
      saveProficiencies: [
        { save: "Con" }, // Sorcerer
        { save: "Cha" }, // Sorcerer
      ],
      hitPointRolls: [
        { level: 1, die: new DiceString("d6"), roll: 6 },
        { level: 2, die: new DiceString("d6"), roll: 4 },
        { level: 3, die: new DiceString("d6"), roll: 4 },
      ],
    });
  }

  getWeapons(): Weapon[] {
    return [{ weapon: "Cane", ability: "Dex", damage: new DiceString("d4") }];
  }

  // Spell Attack Modifier: Charisma modifier + Proficiency bonus
  getSpellAttack(): D20Test {
    return new D20Test("Attack Roll", "Cha", this.getAbilityModifier("Cha"), this.createProficiency(true));
  }

  // Spell Save DC: 8 + Proficiency bonus + Charisma modifier
  getSpellSaveDC(): number {
    return 8 + this.getSpellAttack().getBonus();
  }

  // Sorcery Points
  getSorceryPoints(): number {
    return this.getClassLevel("Sorcerer");
  }
}

const character = new WicanderCharacter();
const characterName = "Wicander Halovar";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>{import.meta.env.DEV ? "[dev] " : ""}{characterName}</title>
    <base target="_blank" />
  </head>
  <body>
    <div class="row six-across">
      <AbilitiesTable character={character} />
    </div>
    <div class="row four-across">
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">Proficiency Bonus</th>
          </tr>
          <tr>
            <td class="modifier" style="text-align: center;">
              <span class="mono">+{character.proficiencyBonus}&nbsp;</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">AC</th>
          </tr>
          <tr>
            <td style="text-align: center;">
              <span class="mono">12</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">HP</th>
          </tr>
          <tr>
            <td style="text-align: center;">
              <HitPointsInput client:load hitPointMaximum={character.getHitPoints()} hitDiceByType={character.getHitDice()} />
            </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <th style="text-align: center;">Initiative</th>
          </tr>
          <tr>
            <td class="modifier" style="text-align: center;">
              <span class="checkCell">
                <D20TestCell client:load roll={character.getInitiative()} />
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row three-and-large">
      <div class="column">
        <SkillsTable title="Skills" character={character} />
      </div>
      <div class="column">
        <SavesTable title="Saves" character={character} />
        <HitDiceTable client:load hitDice={character.getHitDice()} conModifier={character.getAbilityModifier("Con")} />
      </div>
      <div class="column">
        <WeaponAttackTable character={character} />
        <table>
          <tbody>
            <tr>
              <th colspan="2" style="text-align: center;">Spells</th>
            </tr>
            <tr>
              <td>Spell Attack Modifier</td>
              <td class="checkCell mono">
                <D20TestCell client:load roll={character.getSpellAttack()} />
              </td>
            </tr>
            <tr>
              <td>Spell Save DC</td>
              <td class="checkCell mono">
                <span class="mono">{character.getSpellSaveDC()}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <th colspan="2" style="text-align: center;">Sorcery Points</th>
            </tr>
            <tr>
              <td>Points</td>
              <td class="modifier mono">{character.getSorceryPoints()}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column features">
        <SpellSlotsTables character={character} />
        <table>
          <tr>
            <th colspan="2" style="text-align: center;">Features</th>
          </tr>
          <tr>
            <th>Feature</th>
            <th class="modifier">Effect</th>
          </tr>
          <tr>
            <td>Species</td>
            <td class="modifier">Aasimar</td>
          </tr>
          <tr>
            <td>Class</td>
            <td class="modifier"><InfoTooltip client:load reference={renderHTML(getClass("Sorcerer"))}>Sorcerer</InfoTooltip> 3 (Clockwork)</td>
          </tr>
          <tr>
            <td>[Aasimar] Celestial Resistance</td>
            <td class="modifier">resist radiant & necrotic</td>
          </tr>
          <tr>
            <td>[Aasimar] Darkvision</td>
            <td class="modifier">60 ft.</td>
          </tr>
          <tr>
            <td>[Aasimar] Healing Hands</td>
            <td class="modifier">heal = level once/LR</td>
          </tr>
          <tr>
            <td>[Aasimar] Light Bearer</td>
            <td class="modifier">Light cantrip</td>
          </tr>
          <tr>
            <td>[Aasimar] Celestial Revelation</td>
            <td class="modifier">transformation</td>
          </tr>
          <tr>
            <td>[Sorcerer] Innate Sorcery</td>
            <td class="modifier">bonus action, adv on spell attacks</td>
          </tr>
          <tr>
            <td>[Sorcerer] Sorcery Points</td>
            <td class="modifier">{character.getSorceryPoints()} points</td>
          </tr>
          <tr>
            <td>[Sorcerer] Metamagic</td>
            <td class="modifier">2 options known</td>
          </tr>
          <tr>
            <td>[Clockwork] Restore Balance</td>
            <td class="modifier">negate adv/disadv</td>
          </tr>
        </table>
        <table>
          <tr>
            <th colspan="2" style="text-align: center;">Connections</th>
          </tr>
          <tr>
            <td colspan="2"> House Halovar, Candescent Creed (Light Priest) </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
